/*
Jawad Sifat
IntroCS pd6 sec10
HW05 -- HW05: Stuylin
2021-2-18
*/


body {
    background-color: whitesmoke;
}

h2 {
    font-family: fantasy;
    font-size: 30px;
    text-align: center;
}

h1 {
    font-family: monospace;
    text-align: center;
    color: crimson
}

.pad {
    padding-left: 100px;
    padding-right: 100px;
    background-color: snow;

}

p {
    font-family: 'Benne', serif;
}

.toc {
    font-family: 'Rubik', sans-serif;
}

.tocselect {
    background-color: aliceblue;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.caption {
    text-align: center;
    font-family: monospace;
}